@{
    ViewBag.Title = "MainPage";
}
<div class=" container-fluid MainContextFirst">
    <div class="row">
        <div class=" col-lg-7">
            <div class="MainContextFirstDiv" >
                <h3 >Hell0</h3>
                <h1 data-aos="fade-right"  data-aos-duration="2000">I am Sona Arshakyan</h1>
                <h4 data-aos="fade-left"  data-aos-duration="2000"> Software Enginer</h4>
                <br />
                <a class="primary_btn" href="#" data-aos="zoom-in"  data-aos-duration="2000"><span>Hire Me</span></a>
                <a class="primary_btn tr-bg" href="#" data-aos="zoom-out"  data-aos-duration="2000"><span>Get CV</span></a>

            </div>
        </div>
        <div class=" col-lg-5">
            <img src="~/Images/home-right.png" width="100%"/  data-aos="fade-right"  data-aos-duration="2000">
        </div>
    </div>
</div>

<div class=" container-fluid MainContextSecond">
    <div class="row">
        <div class=" col-lg-5">
            <div >
                <img src="~/Images/about-me.png" width="100%" data-aos="fade-down"  data-aos-duration="2000"/>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
        <div class=" col-lg-5" >
            <div class=" MainContextSecond-Right-Div" >
                <h2>
                    LET’S
                    <br />
                    INTRODUCE ABOUT
                    <br />
                    MYSELF
                </h2>
                <br />
                <p>
                    Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven midst their. Beast creepeth. Fish days.
                </p>
                <br />
                <p>
                    Is give may shall likeness made yielding spirit a itself together created after sea is in beast beginning signs open god you're gathering whose gathered cattle let. Creature whales fruit unto meat the life beginning all in under give two.
                </p>
                <br />
                <a class="primary_btn" href="#"  data-aos="zoom-out"  data-aos-duration="2000"><span>Download CV</span></a>
            </div>     
        </div>
    </div>
</div>

<div class="container-fluid MainContextThird">
    <div class="row">
        <div class="col-lg-7">
            <div class="row MainContextThird-Left">
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-left"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo1.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-right"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo2.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-left"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo3.png" width="100%" />
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-right"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo3.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-left"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo9.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs"data-aos="fade-right"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo2.png" width="100%" />
                        </div>
                    </div>
                </div>
               

                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-left"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo4.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-right"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo5.png" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="MainContextThird-Image-Divs" data-aos="fade-left"  data-aos-duration="2000">
                        <div class="MainContextThird-Image-Div text-center">
                            <img src="~/Images/logo6.png" width="100%" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="MainContextThird-Right" data-aos="fade-left"  data-aos-duration="2000">                
                    <div class="" data-aos="zoom-out"  data-aos-duration="2000">
                        <span class="lage">6</span>
                        <span class="smll"> Months Experience Working</span>
                    </div>
                    <div class="call-now">
                        <div>
                            <span class="fa fa-phone"></span>
                        </div>
                        <div >
                            <h4>call me now</h4>
                            <h3>(+374)-800-555</h3>
                        </div>
                    </div>             
            </div>
        </div>
    </div>
</div>

<div class="container-fluid MainContextFourth">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="font-weight: 500;" data-aos="fade-down"  data-aos-duration="2000">
                SERVICE OFFERS
            </h2>
            <p data-aos="fade-up"  data-aos-duration="2000">
                Is give may shall likeness made yielding spirit a itself togeth created
                after sea <br> is in beast beginning signs open god you're gathering ithe
            </p>
        </div>
    </div>
    <div class="row cardsRow">
        <div class="col-lg-3">
            <div class="card" style="width: 100%" data-aos="fade-right"  data-aos-duration="2000">
                <img class="card-img-top" src="~/Images/s1.png" width="80px" height="80px">
                <div class="card-body">
                    <h2 class="card-title text-center">Full-Stack Developer</h2>
                    <br />
                    <p class="card-text text-center">
                        Creeping for female light years that lesser can't evening heaven isn't bearing tree
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 100%" data-aos="fade-right"  data-aos-duration="2000">
                <img class="card-img-top" src="~/Images/s2.png" width="80px" height="80px;">
                <div class="card-body">
                    <h2 class="card-title text-center">Front-End Developer</h2>
                    <br />
                    <p class="card-text text-center">
                        Creeping for female light years that lesser can't evening heaven isn't bearing tree
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 100%" data-aos="fade-left"  data-aos-duration="2000">
                <img class="card-img-top" src="~/Images/s3.png" width="80px" height="80px;">
                <div class="card-body">
                    <h2 class="card-title text-center">Back-End Developer</h2>
                    <br />
                    <p class="card-text text-center">
                        Creeping for female light years that lesser can't evening heaven isn't bearing tree
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 100%" data-aos="fade-left"  data-aos-duration="2000">
                <img class="card-img-top" src="~/Images/s4.png" width="80px" height="80px;">
                <div class="card-body">
                    <h2 class="card-title text-center">QA Enginner</h2>
                    <br />
                    <br />
                    <p class="card-text text-center">
                        Creeping for female light years that lesser can't evening heaven isn't bearing tree
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid MainContextFifth">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="width: 100%">
                QUALITY WORK
                <br />
                RECENTLY DONE PROJECT
            </h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="filter" >
                <li class="btn filterbtn active" id="all"> <span>ALL</span> </li>
                <li class="btn  filterbtn" id="popular"> <span>POPULAR</span> </li>
                <li class="btn filterbtn" id="latest" > <span>LATEST</span></li>
                <li class="btn filterbtn" id="following"> <span>FOLLOWING</span></li>
                <li class="btn filterbtn" id="upcoming" > <span>UPCOMING</span></li>
            </ul>
        </div>
    </div>
    <div class="container"  style="padding-top:50px;">
        <div class="row" >
            <div class="col-lg-4">
                <div class="cardfilter popular" style="width: 100%" data-aos="zoom-in"  data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p1.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            MINIMAL DESIGN
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter latest" style="width: 100%" data-aos="zoom-out"  data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p2.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            PAINT WALL
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter latest" style="width: 100%" data-aos="zoom-in"  data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p3.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            FEMALE LIGHT
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="cardfilter popular" style="width: 100%" data-aos="zoom-out"  data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p4.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            FOURTH AIR
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter following" style="width: 100% ; position:relative; top:30px;" data-aos="zoom-in"  data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p5.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            MULTIPLY FOWL
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter upcoming " style="width: 100% ;" data-aos="zoom-in" data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p6.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            TOGETHER SIGN
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="cardfilter following" style="width: 100%; position:relative;bottom:60px;" data-aos="zoom-in" data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p7.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            GREEN HEAVEN
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter upcoming" style="width: 100%;" data-aos="zoom-in" data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p8.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            FLY MAlE
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardfilter popular" style="width: 100%; " data-aos="zoom-in" data-aos-duration="2000">
                    <img class="card-img-top" src="~/Images/p9.jpg" width="100%">
                    <div class="card-body">
                        <h4 class="card-title ">
                            SEASON FACE
                        </h4>
                        <p class="card-text ">
                            Animated, portfolio
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container  MainContextSixth">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="MainContextSixth-LastDiv">
                <h1 class="text-center" style="color:white;" data-aos="fade-down" data-aos-duration="2000">GET UPDATE FROM ANYWHERE</h1>
                <br />
                <p data-aos="fade-up" data-aos-duration="2000">Bearing Void gathering light light his eavening unto dont afraid.</p>
                <br />
                <br />
                <div class="formDiv">
                    <input type="email" name="email" value="" class="form-control" data-aos="zoom-in" data-aos-duration="2000" />                 
                    <button data-aos="zoom-out" data-aos-duration="2000">Subscribe</button>
                </div>              
            </div>
        </div>
    </div>
</div>


